<footer>
  <div class="footer-content">
    <div class="footer-top footer-section">
      <img class="logo" [src]="logoWhite" alt="" />
      <div class="links-cont">
        <a [routerLink]="['']">link</a>
        <a [routerLink]="['']">link</a>
        <a [routerLink]="['']">link</a>
      </div>
    </div>
    <div class="footer-bottom footer-section">
      <p>&copy; Abigail Ojeda Alonso - 2023</p>
      <div class="rrss-cont">
        <a [routerLink]="['']">
          <img class="logo" [src]="logoFacebook" alt="" />
        </a>
        <a [routerLink]="['']">
          <img class="logo" [src]="logoDiscord" alt="" />
        </a>
        <a href="https://es.linkedin.com/in/abigail-ojeda" target="_blank">
          <img class="logo" [src]="logoLinkedin" alt="" />
        </a>
      </div>
    </div>
  </div>
</footer>
