<header class="header-cont">

    <div class="header-content">
    <div class="header-left-cont">
        <img class="logo" [src]="logoWhite" alt="">
        <img class="illustration" [src]="headerIllustration" alt="">
    </div>

    <div class="header-right-cont">
        <h1>Lorem ipsum dolor sit amet consectetur dolor</h1>
        <h3>Lorem ipsum dolor sit</h3>
        <button>Let's start!</button>
    </div>
    </div>

</header>


<div class="intro-cont">
    <h3>Lorem ipsum</h3>
    <p>Lorem ipsum, dolor sit amet Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit voluptatibus aliquam repellendus. consectetur adipisicing elit. Repellendus veniam non perspiciatis delectus beatae placeat vel ducimus ab totam quam deserunt vitae fugiat saepe, dolore dicta iusto mollitia nihil! Dolorum, facere consequatur!</p>
</div>

<div class="info-cont">
    <div class="info-content">

    </div>
    <div class="info-content">

    </div>
    <div class="info-content">

    </div>
</div>

<div class="contact-cont">

    <div class="contact-content">
        <h1>Lorem ipsum dolor, sit amet consectetur adipisicing!</h1>
    <img class="illustration" [src]="footerIllustration" alt="">
    </div>


</div>
<footer>
    
</footer>