<header class="header-cont">

    <div class="header-content">
        <img class="logo" [src]="logoWhite" alt="">
    <div class="header-left-cont">
        
        <img class="illustration" [src]="headerIllustration" alt="">
    </div>

    <div class="header-right-cont">
        <h1>Lorem ipsum dolor sit amet consectetur dolor</h1>
        <h3>Lorem ipsum dolor sit</h3>
        <button>Let's start!</button>
    </div>
    </div>

</header>


<div class="intro-cont">
    <h3>Lorem ipsum</h3>
    <p>Lorem ipsum, dolor sit amet Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit voluptatibus aliquam repellendus. consectetur adipisicing elit. Repellendus veniam non perspiciatis delectus beatae placeat vel ducimus ab totam quam deserunt vitae fugiat saepe, dolore dicta iusto mollitia nihil! Dolorum, facere consequatur!</p>
</div>

<div class="info-cont">
    <div class="info-content">
        <img class="logo" [src]="taskIcon" alt="">
        <h4>Lorem Ipsum</h4>
    </div>
    <div class="info-content">
        <img class="logo" [src]="userIcon" alt="">
        <h4>Lorem Ipsum</h4>
    </div>
    <div class="info-content">
        <img class="logo" [src]="partyIcon" alt="">
        <h4>Lorem Ipsum</h4>
    </div>

</div>

<div class="contact-cont">

    <div class="contact-content">
        <h1>Lorem ipsum dolor, sit amet consectetur adipisicing!</h1>
        <img class="illustration" [src]="footerIllustration" alt="">
    </div>


</div>
<footer>
    <div class="footer-content">
        <div class="footer-top footer-section">
            <img class="logo" [src]="logoWhite" alt="">
           <div class="links-cont">
            <a [routerLink]="['']">link</a>
            <a [routerLink]="['']">link</a>
            <a [routerLink]="['']">link</a>
           </div>
        </div>
        <div class="footer-bottom footer-section">
            <p>&copy; Abigail Ojeda Alonso - 2023</p>
            <div class="rrss-cont">
                <a [routerLink]="['']">
                    <img class="logo" [src]="logoFacebook" alt="">
                </a>
                <a [routerLink]="['']">
                    <img class="logo" [src]="logoDiscord" alt="">
                </a>
                <a href="https://es.linkedin.com/in/abigail-ojeda" target="_blank">
                    <img class="logo" [src]="logoLinkedin" alt="">
                </a>
               
            </div>
        </div>
    </div>
    
</footer>