.header-cont{
    background-color: #6633FF;
    width: 100%;
    display: flex;
    justify-content:center;
    padding: 26px;
    height: 455px;

    .header-content{
        display: flex;
        max-width: 1075px;
        width: 80%;

        .header-left-cont{
            width: 100%;
            
            .logo{
                width: 98px;
                position: absolute;
                top: 24px;
                left: 24px;
            }

            .illustration{
                position: relative;
                bottom: -90px;
                left: -50px;
                width: 500px;
            }
        
        }
        .header-right-cont{
            width: 100%;
            display: flex;
            flex-direction: column;
           justify-content: flex-end;
           
           h1,h3{
            color: #fff;
           
            margin-bottom: 0.8em;
           }

           button{
            align-self: flex-end;
            border: none;
            color: #fff;
            font-weight: 500;
            font-size: 24px;
            border-radius: 99px;
            width: 280px;
            height: 60px;
            margin-top:20px;
            cursor: pointer;
            background-color: #45A866;
            margin: 40px 0;
            &:hover {
                background-color: #61b37c;
               
             }

           }

        
        
        }
    }
}




.intro-cont{
    padding: 250px 0 80px 0;
    max-width: 1075px;
    width: 80%;
    margin: auto;
    font-weight: 800;
    font-family: RobotoMedium;
    p{
       line-height: 22px;
        margin-top: 0.5em;
        
    }

    h3{
        color: #413f48;
        font-size: 20px;
    }
}

.info-cont{
    height: 300px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 100px;

    .info-content{
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
        height: 183px;
        margin: 0 64px;
        width: 190px;
        margin-top: -50px;
    }
}